@use "src/assets/styles/_colors.scss" as colors;
@use "src/assets/styles/_sizes.scss" as sizes;

.loginStatus {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 12px;
  gap: 8px;
  box-shadow: 0px 0px 18px -8px grey;
  color: colors.$accent1-primary;
  text-decoration: none;
  background: colors.$white;
  border-radius: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  @media (max-width: sizes.$mobile-l) {
    font-size: 12px;
  }
}

.metamaskIcon {
  width: 24px;
  height: 24px;

  @media (max-width: sizes.$mobile-l) {
    width: 18px;
    height: 18px;
  }
}
