@use 'src/assets/styles/_colors.scss' as colors; 
@use 'src/assets/styles/_sizes.scss' as sizes; 

.button {
  padding: sizes.$padding-l;
  border-radius: sizes.$border-radius-m;
  border: none;
  background-color: colors.$accent1-primary;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: colors.$white;
  cursor: pointer;

  @media (max-width: sizes.$tablet) {
    padding: sizes.$padding-m;
    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: sizes.$mobile-l) {
    padding: sizes.$padding-s;
    font-size: 14px;
    line-height: 16px;
  }
}