@use 'src/assets/styles/_sizes.scss' as sizes; 

.button {
  padding: sizes.$padding-l;
  border-radius: sizes.$border-radius-m;
  border: none;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #092326;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.medium {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #092326;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}

.small {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #092326;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}