$padding-l: 12px 32px;
$padding-m: 10px 32px;
$padding-s: 8px 24px;
$padding-xs: 6px 20px;

$padding-sides-l: 70px;

$border-radius-l: 16px;
$border-radius-m: 8px;

$max-desktop-width: 1440px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;